.product-container {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-name {
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: initial;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.product-price {
  font-size: 20px;
  font-weight: bold;
}

.product-image-container {
  max-height: 110px;
  display: flex;
  justify-content: center;
}

.product-image {
  max-height: 100%;
  max-width: 100%;
}

.product-category {
  font-size: 15px;
  font-weight: bold;
}

.add-to-cart-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 10px;
}

.add-to-cart-button-container .MuiButton-root {
  padding: 5px;
  width: 90%;
}

.product-grid-container {
  padding: 15px;
}
