.product-container {
  padding: 15px;
  height: 300px;
}

.product-container div {
  margin-bottom: 15px;
}

.product-name {
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: initial;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  min-height: 65px;
}

.product-price {
  font-size: 20px;
  font-weight: bold;
}

.product-image-container {
  display: flex;
  justify-content: center;
}

.product-image {
  max-width: 200px;
  max-height: 150px;
  min-height: 100px;
  min-width: 150px;
}

.product-category {
  font-size: 15px;
  font-weight: bold;
}

.add-to-cart-button-container {
  display: flex;
  justify-content: flex-end;
  padding: 0px 10px 10px 10px;
}

.add-to-cart-button {
  width: 100%;
}

.product-grid-container {
  padding: 15px;
}
